<!-- views/pages/listingPage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/partial_head %>
</head>
<body>


<% include ../partials/partial_header %>

<main>
   <% include ../partials/partial_pdp %>
</main>

<footer>
    <% include ../partials/partial_footer %>
</footer>

</body>
</html>
